*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.menu{
	width: 100%;
    height: 80px;
    margin: 35px 0;
    background-color: #dbdbdb;
}
.menu ul{
	width: 95%;
	height: 60px;
	margin-left: 70px;
}
.menu li{
	float: left;
	width: 215px;
	list-style-type: none;
	margin: 30px;
}
.menu a{
	color: #fff;
}
.menu a:hover{
	color: blue;
}
.logo{
	width: 25%;
    height: 200px;
    margin: 0 auto;
}
.logo img{
	width: 75%;
    height: 195px;
}
.image{
	    width: 84%;
    	margin-left: 95px;
	    height: 500px;
}
.image img{
	width: 100%;
	height: 500px;
}
.content{
	width: 84%;
	margin-left: 95px;
	margin-top: 50px;
}
.content h1{
	text-align: center;
}
.content p{
	text-align: center;
	margin: 9px;
	font-size: 19px;
}
.photo{
	width: 40%;
	height: auto;
	margin: 45px auto;
}
.photo img{
	width: 600px;
	height: 350px;

}
footer{
	width: 100%;
	height: 150px;
	background-color: #bcbcbc;
	margin-top: 80px;
	padding-top: 50px;
}
footer p{
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
}