{% extends 'layout.html' %}

{% block body %}

    <div class="photo"><img src="hali4.jpg" widt="900px" height="450px"></div>
    <div class="photo"><img src="hali2.jpg" widt="900px" height="450px"></div>
	<div class="photo"><img src="hali3.jpg" widt="900px" height="450px"></div>
	<div class="photo"><img src="hali4.jpg" widt="900px" height="450px"></div>


{% endblock %}