{% extends 'layout.html' %}

{% block body %}

<div class="content">
		<h1>HAKKIMIZDA</h1>
		<p>Şubemiz servis hizmeti sağlamaktadır.</p>
		<p>Halı saha rezervasyonları için önceden rezervasyon alınmalıdır.</p>
		<p>2019 yılında Kalkınma'da açılan ilk şubemiz ile sizlerle buluştuk.</p>
		<p>Alanında uzman futbol eğitmenlerimizle spor yapmanın ayrıcalığını sizlerle paylaştık.</p>
		<p>Sizinle büyüdük ve şimdi ikinci şubemizde sizlere ayrıcalıklı spor yapmaya davet ediyoruz.</p>
		<p>Yakında Türkiye'de çeşitli illerde de hizmetinizde olacağız.</p>
</div>



{% endblock %}