{% extends 'layout.html' %}

{% block body %}

<div class="content">
		<h1> ILETISIM </h1>

	<p> İletisim Numarası : 0462 461 61 61</p>
	<p> E-posta Adresimiz : ortahisarhalisaha@gmail.com</p>
	<p> Adres : Kalkınma Mahallesi 236.sokak No:43 </p>
	</div>


{% endblock %}