{% extends 'layout.html' %}

{% block body %}

<div class="content">
			<h1> ORTAHİSAR HALI SAHASI</h1>
	<p> Halı sahamız Kalkınma Mahallesinde bulunmaktadır.</p>
	<p> Önceden bildirilmesi halinde ulaşımınız için servis hizmeti sağlamaktayız. </p>
	<p> Keyifli maçlar dileriz... </p>
	<p>Ortahisar Halı saha Ailesi olarak sizlere en iyi ortamlarda futbolun keyfini sunmak için çalışmalarımıza tüm hızıyla devam ediyoruz.Uzunlar ailesi olarak 16 yıldır sizlere hizmet vermekteyiz.Konaklar ve Bostancı mevkileri olmak üzere iki adet tesisimiz olup dilediğiniz zaman iletişime geçerek rezervasyonlarınızı ve programlarınız için düzenlemelerde bulunabilirsiniz.Mevcut komplekslerimiz en iyi şekilde tasarlanmış ve dizayn edilmiştir.Konaklar mevkisinde bulunan kompleksimizde talepler doğrultusunda Fitnes Center hazırlanmış ve kullanıma açılmıştır.</p>
	</div>


{% endblock %}