<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Page Title</title>
		<link rel="stylesheet" href="mystill.css">
	</head>
<body>
	<div class="logo">
		<a href=""><img src="logo.jpg"></a>
	</div>
	<div class="menu">
		<ul>
			<li><a href="index.html">ANASAYFA</a></li>
			<li><a href="galeri.html">GALERİ</a></li>
			<li><a href="iletisim.html">İLETİŞİM</a></li>
			<li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
		</ul>
	</div>

   {% block body %}
    {% endblock %}

	<footer>
		<p>Posted by: Hege Refsnes</p>
		<p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
	</footer>
</body>
</html>